.venue {
  display: flex;
  flex-direction: column; 
}

.card-body {
  display: flex;
  padding: 1em; /* Adjust padding for compactness */
}

.venue-images {
  display: flex;
  flex-direction: column; /* Stack images vertically */
}

.carousel-inner img {
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Set a max height for images in carousel */
}

.venue-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between title/details and buttons */
}

.button-group {
  display: flex;
  gap: 10px; /* Space between buttons */
}